<%= form_with scope: :article, local:true do |form|%>
<p>
<%= form.lable :title %><br>
<%= form.text_field :title %>
</p>

<p>
<%= form.lable :title %><br>
<%= form.text_area :title %>
</p>

<p>
<%= form.submit %>
</p>
<% end %>